@model IEnumerable<FunitureApp.Models.User>

@{
    ViewData["Title"] = "";
}

<h1>Danh sách người dùng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                    Người dùng
            </th>
           
            <th>
               Tài khoản
            </th>
            <th>
                Thời gian tạo
            </th>
            <th>
                Tạo bởi
            </th>
            <th>
                Thời gian sửa
            </th>
            <th>
                Sửa bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
       
        </tr>
}
    </tbody>
</table>
