@model IEnumerable<FunitureApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Dánh sách người dùng</h1>

<p>
    <a asp-action="Create">Thêm người dùng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    Người dùng
            </th>
           
            <th>
               Tài khoản
            </th>
            <th>
                Thời gian tạo
            </th>
            <th>
                Tạo bởi
            </th>
            <th>
                Thời gian sửa
            </th>
            <th>
                Sửa bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
              
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
