@model FunitureApp.Models.UserOrder

@{
    ViewData["Title"] = "";
}

<h1>Xóa đơn hàng</h1>


<div>
    <h4>Đơn hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mã đơn hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_no)
        </dd>
        <dt class = "col-sm-2">
            Mã người dùng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_id)
        </dd>
        <dt class = "col-sm-2">
           Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
           Tình trạng đơn hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
           Miễn phí
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery_method_id)
        </dd>
        
      
        <dt class = "col-sm-2">
            Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_at)
        </dd>
        <dt class = "col-sm-2">
            Mã gửi hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipId)
        </dd>
        <dt class = "col-sm-2">
            Tình trạng đơn hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            Hình thức thanh toán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
