@model FunitureApp.Models.ResponeModel.OrderResponse

@{
    ViewData["Title"] = "";
}

<h1>Chi tiết đơn hàng</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã đơn hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.order.Order_no)
        </dd>
        <dt class="col-sm-2">
            Ảnh chuyển khoản
        </dt>
        <dd class="col-sm-10">
            <img
                 width="100"
                 src="@Model.order.BankingImage"
                 />
            
        </dd>
        <dt class="col-sm-2">
            Mã người dùng
        <dd class="col-sm-10">
            @{
                foreach (var i in Model.orderItems)
                {
                    <span>@i.product.NameProduct</span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Giá tiền
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.order.Total)
        </dd>
        <dt class="col-sm-2">
            Trạng thái đơn hàng
        </dt>
        <dd class="col-sm-10">

            @if (Model.order.PaymentStatus == 0)
            {
                <span>Chưa thanh toán</span>
            }
            else
            {
                <span>Đã thanh toán</span>
            }
        </dd>

        <dt class="col-sm-2">
            Ngày tạo đơn
        </dt>
        <dd class="col-sm-10">
            @Model.order.Create_at.Value.ToString("MM/dd/yyyy hh:mm:ss tt")
        </dd>
        <dt class="col-sm-2">
            Hình ảnh sản phẩm
        </dt>
        <dd class="col-sm-10">
            @foreach (var i in Model.orderItems)
            {
                <image src="@i.product.Image"></image>
            }
        </dd>

    </dl>
</div>
<div>
    
    <a asp-action="Index">Quay lại</a>
</div>
