@model IEnumerable<FunitureApp.Areas.admin.Models.OrderView>

@{
    ViewData["Title"] = "Index";
}

<h1>Đơn hàng</h1>

<p>
    <a asp-action="Create">Tạo đơn hàng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
               Tài khoản
            </th>
            <th>
               Giá
            </th>
            <th>
                Tình trạng 
            </th>
         
            <th>
               Miễn phí
            </th>
            <th>
                Ngày tạo đơn hàng
            </th>
           
            <th>
                Tình trạng đơn hàng
            </th>
            <th>
                Hình thức thanh toán
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Order_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Status)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Delivery_free)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Create_at)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Order.PaymentStatus)
                </td>
                <td>
                    @if (item.Order.PaymentType == 0)
                    {
                    <span>Thanh toán qua thẻ ngân hàng</span>
                     } 
                    else {
                     <span>Thanh toán trực tiếp</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Order.Id">Sửa</a> |


                    <a asp-action="Delete" asp-route-id="@item.Order.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
