@model IEnumerable<FunitureApp.Areas.admin.Models.OrderView>

@{
    ViewData["Title"] = "";
}

<h1>Đơn hàng</h1>

<p>
    <a asp-action="Create">Tạo đơn hàng</a>
</p>
<form action="/admin/userorders">
    <select name="paymentType">
        <option value="">Tất cả</option>
        <option value="0">Chuyển khoản</option>
        <option value="1">Tiền mặt</option>
    </select>
    <select name="paymentStatus">
        <option value="">Tất cả</option>
        <option value="0">Chưa trả</option>
        <option value="1">Đã trả</option>
    </select>
    <select name="orderStatus">
        <option value="">Tất cả</option>
        <option value="processing">Chưa trả</option>
        <option value="delivered">Thành công</option>
        <option value="canceled">Đã hủy</option>
    </select>
    <input type="submit" value="Tìm kiếm" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Tài khoản
            </th>
            <th>
                Giá
            </th>
            <th>
                Tình trạng đơn hàng
            </th>

            <th>
                Tình trạng thanh toán
            </th>
            <th>
                Ngày tạo đơn hàng
            </th>


            <th>
                Hình thức thanh toán
            </th>
            <th>
                Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Order_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Status)
                </td>

                <td>
                    @if (item.Order.PaymentStatus == 0)
                    {

                        <span>Chưa thanh toán</span>
                    }
                    else
                    {
                        <span>Đã thanh toán</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Create_at)
                </td>


                <td>
                    @if (item.Order.PaymentType == 0)
                    {
                        <span>Thanh toán chuyển khoản</span>
                    }
                    else
                    {
                        <span>Thanh toán trực tiếp</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Address) |
                    @Html.DisplayFor(modelItem => item.Address.Name) |
                    @Html.DisplayFor(modelItem => item.Address.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Order.Id">Sửa</a>
                    <br/>
                    <a asp-action="Details" asp-route-id="@item.Order.Id">Chi tiết đơn hàng</a> 
                      <br/>
                    <a asp-action="Delete" asp-route-id="@item.Order.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
