@model IEnumerable<FunitureApp.Areas.admin.Models.OrderView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.Order_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Status)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Order.Delivery_free)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Create_at)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Order.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Order_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Status)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Delivery_free)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Create_at)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Order.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.PaymentType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Order.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Order.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Order.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
