@model FunitureApp.Models.Product

@{
    ViewData["Title"] = "";
}

<h1>Chi tiết Sản phẩm</h1>

<div>
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>


        <dt class="col-sm-2">
            Tình trạng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Kiểu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Số lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Create_at)
        </dd>

    </dl>
</div>
<div>
    
    <a asp-action="Index">Quay lại</a>
</div>
