@model IEnumerable<FunitureApp.Models.Product>

@{
    ViewData["Title"] = "";
}

<h1>Danh sách sản phẩm</h1>


<p>
    <a asp-action="Create">Thêm sản phẩm</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>

            <th>
               Hình ảnh

            </th>

            <th>
                Trạng thái
            </th>
            <th>
                Kiểu
            <th>
                Số lượng
            </th>
            <th>
                Ngày giờ
            </th>

            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProduct)
                </td>

                <td>
                    <img src='@Html.DisplayFor(modelItem => item.Image)' width='100' />

                </td>

                <td>
                    @if (item.Status == "Show")
                    {
                        <span>Hiện</span>
                    }
                    else
                    {
                        <span>Ẩn</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Create_at)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết |</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
