@model IEnumerable<FunitureApp.Models.Category>

@{
    ViewData["Title"] = "";
}

<h1>Danh mục sản phẩm</h1>

<p>
    <a asp-action="Create">Thêm danh mục sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr> 
            <th>
                Tên danh mục
            </th>
            <th>
               Hình ảnh
            </th>
         
            <th>
               Ngày tạo danh mục
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src='@Html.DisplayFor(modelItem => item.Image)' width="100" />
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Create_at)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
